<a href="https://colab.research.google.com/github/adityA-PCE/python-all-week-assignments/blob/main/pthon_week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = Vehicle(220,12 )
print(car.max_speed, car.mileage)

220 12

In [ ]:
class Vehicle:
    pass

In [ ]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):                
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 30

class Bus(Vehicle):
    pass

School_bus = Bus("mereces", 8, 45)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 1350

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 45

class Bus(Vehicle):
    pass

School_bus = Bus("mercedes", 8, 70)
print("Total Bus fare is:", School_bus.fare()) 

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 30

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 8, 45)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 3150
Total Bus fare is: 1350